@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0)
  }
}

.discount {
  background-color: #ED83A8;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 10px solid;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;


  &__text {
    padding-left: 100%;
    animation: scroll 30s infinite linear;
  }

  &__link {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
  }
}

.intro {
  height: calc(100vh - 174px);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;


  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

.cloth-types {
  margin: 0;

  &__img {
    width: 160px;
    height: 238px;
    background-color: #a6a5ad;
  }

  &__text {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #32313A;
    color: #fff;
    letter-spacing: 0.03rem;
    font-size: 14px;
    padding: 10px 0;
  }
}

.pictures {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  &__img {
    width: 550px;
    height: 770px;
    margin: 0;
    background-color: #a6a5ad;
  }
}

.eco-shop {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  &__img {
    width: 540px;
    height: 479px;
    margin: 0;
  }

  .eco {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__head {
      font-family: 'Merriweather';
      font-weight: 700;
      font-size: 36px;
      color: #32313A;
      margin-left: 0;
    }

    &__text {
      font-size: 14px;
      width: 444px;
      color: #6E6D74;
      margin-top: 16px;
    }

    &__btn {

      margin-left: 0;
      margin-top: 30px;
    }
  }
}

.line-img {
  padding: 120px 0 50px 0;
}