* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html {
  background-color: rgb(224, 224, 224);
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.loading-anim {
  display: flex;
  margin: 0 auto;
  height: calc(100vh - 520px);
}

.btn {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  background-color: #32313A;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    background-color: #ED83A8;
  }
}

.df {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
}

@import "./style/styleApp.scss";